html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  background-color: #1C1C1C;
  color: #FDFDFD;

    padding: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

main {
  min-height: 50px;
}

form {
  padding: 2rem;
  font-family: Arial;
  flex-grow: 1;
}

form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.25em 0;
  gap: 0.5em;
}

hr {
  width: 80%;
/*   opacity: 0.3; */
  border: none;
  height: 1px;
  background-color: #222;
  margin: 0.3em 0;
}

#width, #height {
  width: 3.5em;
}

label:not(.switch) {
  padding-right: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.0em;
  height: 1.1em;
  
  --bg-color: #91909F;
  --bg-color-active: #6561EF;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 1.1em;
}

.switch.active > .slider {
  background-color: var(--bg-color-active);
}   

.slider:before {
  position: absolute;
  content: "";
  height: 0.7em;
  width: 0.7em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--bg-color-active);
}

input:checked + .slider:before {
  --dist: 0.9em;
  -webkit-transform: translateX(var(--dist));
  -ms-transform: translateX(var(--dist));
  transform: translateX(var(--dist));
  
}

input[type="range"] {
  width: 10em;
  height: 0.9em;
  outline: none;
  border: none;
}

button {
    background-color: #6561EF;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 0.2em 0.6em;
    font-size: 0.95rem;
    cursor: pointer;
}